* {
  transition: 0.25s;
}

body {
  font-family: "Nunito", sans-serif;
}

.advcte-logo {
  font-family: "Lobster", cursive;
  font-size: 42px;
  font-weight: 400;
  background: -webkit-linear-gradient(#00bfff, #0095ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.no-select {
  user-select: none;
}

.hover-light:hover {
  filter: brightness(150%);
}

.hover-blue:hover {
  color: #00bfff;
}
